# This is Git's per-user configuration file.
[user]
	name = rami
	email = ramireddy424@gmail.com
# Please adapt and uncomment the following lines:
#	name = root
#	email = root@ip-172-31-18-159.ap-northeast-1.compute.internal
